name: Create Tag

on:
  push:
    branches:
      - master
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: rbkmoney/action-tagger@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          with-v: true
